<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application Data</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>GPA: </strong><%- gpa %><br>
		<strong>Background Information: <br></strong><%- background %><br>
		<hr>
	</div>
    <strong>Task completed at <%- date %></strong>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
